In [1]:
import pandas as pd
import numpy as np

dict = {
    "name":['aman','aman1','aman2','aman3'],
    "marks":['11','42','73','64'],
    "city":['hbj','bhp','cwh','jbp']
}
df=pd.DataFrame(dict)
print(df)

    name marks city
0   aman    11  hbj
1  aman1    42  bhp
2  aman2    73  cwh
3  aman3    64  jbp

In [2]:
df.to_csv('dict.csv',index=False)

In [3]:
df.head(2)

    name marks city
0   aman    11  hbj
1  aman1    42  bhp

In [4]:
df.tail(1)

    name marks city
3  aman3    64  jbp

In [5]:
df.describe()

         name marks city
count       4     4    4
unique      4     4    4
top     aman1    73  hbj
freq        1     1    1

In [6]:
imptCsv=pd.read_csv("train.csv")

In [7]:
imptCsv

   train no  speed city
0     12123    122  hbj
1     12344    211  cwh
2      9989    344  jbp

In [8]:
imptCsv['speed'][0]

122

In [9]:
imptCsv['train no'][1]=88888

<ipython-input-9-46223280e2a1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imptCsv['train no'][1]=88888

In [10]:
print(imptCsv['train no'][1])

88888

In [11]:
newdf=pd.DataFrame(np.random.rand(34,5))

In [12]:
newdf

           0         1         2         3         4
0   0.401906  0.558052  0.235230  0.132157  0.591239
1   0.045237  0.284230  0.274567  0.352673  0.979024
2   0.598860  0.670392  0.948338  0.450194  0.607459
3   0.224548  0.198905  0.446967  0.367617  0.013010
4   0.080188  0.986103  0.655532  0.666729  0.955575
5   0.040066  0.182357  0.222749  0.350079  0.670726
6   0.841972  0.796803  0.915518  0.686502  0.806426
7   0.615625  0.473623  0.806661  0.528170  0.604881
8   0.350320  0.875111  0.526230  0.073793  0.965865
9   0.177064  0.389546  0.092418  0.413280  0.661566
10  0.586752  0.781079  0.802420  0.704908  0.460179
11  0.762031  0.133580  0.702637  0.517834  0.471250
12  0.736137  0.418804  0.728404  0.253759  0.001686
13  0.010247  0.764074  0.254829  0.243082  0.320330
14  0.344462  0.328937  0.609148  0.455691  0.738668
15  0.340587  0.616309  0.050260  0.526758  0.601249
16  0.807143  0.240121  0.149967  0.103651  0.674867
17  0.394044  0.625510  0.041725  0.070478  0.016996
18  0.924168  0.919232  0.421263  0.083343  0.306627
19  0.152270  0.514258  0.569292  0.682569  0.297879
20  0.496431  0.757892  0.970468  0.748587  0.043321
21  0.259706  0.850343  0.944759  0.042490  0.663478
22  0.050337  0.636024  0.574000  0.294154  0.848204
23  0.754059  0.663683  0.583124  0.947942  0.949494
24  0.160665  0.944910  0.777523  0.525940  0.063491
25  0.436516  0.311059  0.837011  0.550749  0.384898
26  0.294311  0.360462  0.029344  0.798454  0.808515
27  0.922078  0.038521  0.135919  0.081409  0.734040
28  0.489814  0.739051  0.755118  0.475429  0.394240
29  0.462898  0.885731  0.265280  0.704328  0.687621
30  0.614687  0.124050  0.690486  0.582688  0.934212
31  0.292743  0.269564  0.197195  0.164001  0.614564
32  0.087018  0.314060  0.202436  0.730005  0.093870
33  0.955992  0.621428  0.280763  0.703281  0.352969

In [13]:
newdf.sort_index(axis=0,ascending=False)

           0         1         2         3         4
33  0.955992  0.621428  0.280763  0.703281  0.352969
32  0.087018  0.314060  0.202436  0.730005  0.093870
31  0.292743  0.269564  0.197195  0.164001  0.614564
30  0.614687  0.124050  0.690486  0.582688  0.934212
29  0.462898  0.885731  0.265280  0.704328  0.687621
28  0.489814  0.739051  0.755118  0.475429  0.394240
27  0.922078  0.038521  0.135919  0.081409  0.734040
26  0.294311  0.360462  0.029344  0.798454  0.808515
25  0.436516  0.311059  0.837011  0.550749  0.384898
24  0.160665  0.944910  0.777523  0.525940  0.063491
23  0.754059  0.663683  0.583124  0.947942  0.949494
22  0.050337  0.636024  0.574000  0.294154  0.848204
21  0.259706  0.850343  0.944759  0.042490  0.663478
20  0.496431  0.757892  0.970468  0.748587  0.043321
19  0.152270  0.514258  0.569292  0.682569  0.297879
18  0.924168  0.919232  0.421263  0.083343  0.306627
17  0.394044  0.625510  0.041725  0.070478  0.016996
16  0.807143  0.240121  0.149967  0.103651  0.674867
15  0.340587  0.616309  0.050260  0.526758  0.601249
14  0.344462  0.328937  0.609148  0.455691  0.738668
13  0.010247  0.764074  0.254829  0.243082  0.320330
12  0.736137  0.418804  0.728404  0.253759  0.001686
11  0.762031  0.133580  0.702637  0.517834  0.471250
10  0.586752  0.781079  0.802420  0.704908  0.460179
9   0.177064  0.389546  0.092418  0.413280  0.661566
8   0.350320  0.875111  0.526230  0.073793  0.965865
7   0.615625  0.473623  0.806661  0.528170  0.604881
6   0.841972  0.796803  0.915518  0.686502  0.806426
5   0.040066  0.182357  0.222749  0.350079  0.670726
4   0.080188  0.986103  0.655532  0.666729  0.955575
3   0.224548  0.198905  0.446967  0.367617  0.013010
2   0.598860  0.670392  0.948338  0.450194  0.607459
1   0.045237  0.284230  0.274567  0.352673  0.979024
0   0.401906  0.558052  0.235230  0.132157  0.591239

In [14]:
type(newdf)

pandas.core.frame.DataFrame

In [15]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [16]:
newdf.index

RangeIndex(start=0, stop=34, step=1)

In [17]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [18]:
newdf.columns=list("ABCDE")

In [19]:
newdf.head(2)

          A         B         C         D         E
0  0.401906  0.558052  0.235230  0.132157  0.591239
1  0.045237  0.284230  0.274567  0.352673  0.979024

In [20]:
newdf2=newdf#it will save view not make a copy just point to memory like pointer
newdf2=newdf.copy()#this will make a copy

In [21]:
newdf.loc[0,"A"]=0.12

In [22]:
newdf.head(2)

          A         B         C         D         E
0  0.120000  0.558052  0.235230  0.132157  0.591239
1  0.045237  0.284230  0.274567  0.352673  0.979024

In [23]:
newdf.drop(0,axis=1,inplace=False)#if true then it will delete in orignal dataframe and now it just return a view

KeyError: '[0] not found in axis'

In [ ]:
newdf.loc[[1,2],['C','D']]

In [24]:
newdf.loc[(newdf['A']<0.3)]

           A         B         C         D         E
0   0.120000  0.558052  0.235230  0.132157  0.591239
1   0.045237  0.284230  0.274567  0.352673  0.979024
3   0.224548  0.198905  0.446967  0.367617  0.013010
4   0.080188  0.986103  0.655532  0.666729  0.955575
5   0.040066  0.182357  0.222749  0.350079  0.670726
9   0.177064  0.389546  0.092418  0.413280  0.661566
13  0.010247  0.764074  0.254829  0.243082  0.320330
19  0.152270  0.514258  0.569292  0.682569  0.297879
21  0.259706  0.850343  0.944759  0.042490  0.663478
22  0.050337  0.636024  0.574000  0.294154  0.848204
24  0.160665  0.944910  0.777523  0.525940  0.063491
26  0.294311  0.360462  0.029344  0.798454  0.808515
31  0.292743  0.269564  0.197195  0.164001  0.614564
32  0.087018  0.314060  0.202436  0.730005  0.093870

In [25]:
newdf.iloc[0,4]

0.5912386215150188

In [26]:
newdf.reset_index(drop=False)#if drop is true then index column will delete

    index         A         B         C         D         E
0       0  0.120000  0.558052  0.235230  0.132157  0.591239
1       1  0.045237  0.284230  0.274567  0.352673  0.979024
2       2  0.598860  0.670392  0.948338  0.450194  0.607459
3       3  0.224548  0.198905  0.446967  0.367617  0.013010
4       4  0.080188  0.986103  0.655532  0.666729  0.955575
5       5  0.040066  0.182357  0.222749  0.350079  0.670726
6       6  0.841972  0.796803  0.915518  0.686502  0.806426
7       7  0.615625  0.473623  0.806661  0.528170  0.604881
8       8  0.350320  0.875111  0.526230  0.073793  0.965865
9       9  0.177064  0.389546  0.092418  0.413280  0.661566
10     10  0.586752  0.781079  0.802420  0.704908  0.460179
11     11  0.762031  0.133580  0.702637  0.517834  0.471250
12     12  0.736137  0.418804  0.728404  0.253759  0.001686
13     13  0.010247  0.764074  0.254829  0.243082  0.320330
14     14  0.344462  0.328937  0.609148  0.455691  0.738668
15     15  0.340587  0.616309  0.050260  0.526758  0.601249
16     16  0.807143  0.240121  0.149967  0.103651  0.674867
17     17  0.394044  0.625510  0.041725  0.070478  0.016996
18     18  0.924168  0.919232  0.421263  0.083343  0.306627
19     19  0.152270  0.514258  0.569292  0.682569  0.297879
20     20  0.496431  0.757892  0.970468  0.748587  0.043321
21     21  0.259706  0.850343  0.944759  0.042490  0.663478
22     22  0.050337  0.636024  0.574000  0.294154  0.848204
23     23  0.754059  0.663683  0.583124  0.947942  0.949494
24     24  0.160665  0.944910  0.777523  0.525940  0.063491
25     25  0.436516  0.311059  0.837011  0.550749  0.384898
26     26  0.294311  0.360462  0.029344  0.798454  0.808515
27     27  0.922078  0.038521  0.135919  0.081409  0.734040
28     28  0.489814  0.739051  0.755118  0.475429  0.394240
29     29  0.462898  0.885731  0.265280  0.704328  0.687621
30     30  0.614687  0.124050  0.690486  0.582688  0.934212
31     31  0.292743  0.269564  0.197195  0.164001  0.614564
32     32  0.087018  0.314060  0.202436  0.730005  0.093870
33     33  0.955992  0.621428  0.280763  0.703281  0.352969

In [27]:
newdf.dropna(how=1)#if how =all then it will remove when all are 'na'
# if we have to set'na' then use 'np.nan' function to set elenmnt 'nan'

           A         B         C         D         E
0   0.120000  0.558052  0.235230  0.132157  0.591239
1   0.045237  0.284230  0.274567  0.352673  0.979024
2   0.598860  0.670392  0.948338  0.450194  0.607459
3   0.224548  0.198905  0.446967  0.367617  0.013010
4   0.080188  0.986103  0.655532  0.666729  0.955575
5   0.040066  0.182357  0.222749  0.350079  0.670726
6   0.841972  0.796803  0.915518  0.686502  0.806426
7   0.615625  0.473623  0.806661  0.528170  0.604881
8   0.350320  0.875111  0.526230  0.073793  0.965865
9   0.177064  0.389546  0.092418  0.413280  0.661566
10  0.586752  0.781079  0.802420  0.704908  0.460179
11  0.762031  0.133580  0.702637  0.517834  0.471250
12  0.736137  0.418804  0.728404  0.253759  0.001686
13  0.010247  0.764074  0.254829  0.243082  0.320330
14  0.344462  0.328937  0.609148  0.455691  0.738668
15  0.340587  0.616309  0.050260  0.526758  0.601249
16  0.807143  0.240121  0.149967  0.103651  0.674867
17  0.394044  0.625510  0.041725  0.070478  0.016996
18  0.924168  0.919232  0.421263  0.083343  0.306627
19  0.152270  0.514258  0.569292  0.682569  0.297879
20  0.496431  0.757892  0.970468  0.748587  0.043321
21  0.259706  0.850343  0.944759  0.042490  0.663478
22  0.050337  0.636024  0.574000  0.294154  0.848204
23  0.754059  0.663683  0.583124  0.947942  0.949494
24  0.160665  0.944910  0.777523  0.525940  0.063491
25  0.436516  0.311059  0.837011  0.550749  0.384898
26  0.294311  0.360462  0.029344  0.798454  0.808515
27  0.922078  0.038521  0.135919  0.081409  0.734040
28  0.489814  0.739051  0.755118  0.475429  0.394240
29  0.462898  0.885731  0.265280  0.704328  0.687621
30  0.614687  0.124050  0.690486  0.582688  0.934212
31  0.292743  0.269564  0.197195  0.164001  0.614564
32  0.087018  0.314060  0.202436  0.730005  0.093870
33  0.955992  0.621428  0.280763  0.703281  0.352969

In [28]:
newdf.drop_duplicates()

           A         B         C         D         E
0   0.120000  0.558052  0.235230  0.132157  0.591239
1   0.045237  0.284230  0.274567  0.352673  0.979024
2   0.598860  0.670392  0.948338  0.450194  0.607459
3   0.224548  0.198905  0.446967  0.367617  0.013010
4   0.080188  0.986103  0.655532  0.666729  0.955575
5   0.040066  0.182357  0.222749  0.350079  0.670726
6   0.841972  0.796803  0.915518  0.686502  0.806426
7   0.615625  0.473623  0.806661  0.528170  0.604881
8   0.350320  0.875111  0.526230  0.073793  0.965865
9   0.177064  0.389546  0.092418  0.413280  0.661566
10  0.586752  0.781079  0.802420  0.704908  0.460179
11  0.762031  0.133580  0.702637  0.517834  0.471250
12  0.736137  0.418804  0.728404  0.253759  0.001686
13  0.010247  0.764074  0.254829  0.243082  0.320330
14  0.344462  0.328937  0.609148  0.455691  0.738668
15  0.340587  0.616309  0.050260  0.526758  0.601249
16  0.807143  0.240121  0.149967  0.103651  0.674867
17  0.394044  0.625510  0.041725  0.070478  0.016996
18  0.924168  0.919232  0.421263  0.083343  0.306627
19  0.152270  0.514258  0.569292  0.682569  0.297879
20  0.496431  0.757892  0.970468  0.748587  0.043321
21  0.259706  0.850343  0.944759  0.042490  0.663478
22  0.050337  0.636024  0.574000  0.294154  0.848204
23  0.754059  0.663683  0.583124  0.947942  0.949494
24  0.160665  0.944910  0.777523  0.525940  0.063491
25  0.436516  0.311059  0.837011  0.550749  0.384898
26  0.294311  0.360462  0.029344  0.798454  0.808515
27  0.922078  0.038521  0.135919  0.081409  0.734040
28  0.489814  0.739051  0.755118  0.475429  0.394240
29  0.462898  0.885731  0.265280  0.704328  0.687621
30  0.614687  0.124050  0.690486  0.582688  0.934212
31  0.292743  0.269564  0.197195  0.164001  0.614564
32  0.087018  0.314060  0.202436  0.730005  0.093870
33  0.955992  0.621428  0.280763  0.703281  0.352969

In [36]:
data=pd.read_excel('exsheet.ods',sheet_name='Sheet2')

In [37]:
data

   train no22  speed22 city22
0       12123      122    hbj
1       12344      211    cwh
2        9989      344    jbp

In [38]:
data.iloc[0,0]=1221111

In [39]:
data.to_excel('exsheet.ods',sheet_name='Sheet2')

In [40]:
data

   train no22  speed22 city22
0     1221111      122    hbj
1       12344      211    cwh
2        9989      344    jbp